.advantages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}

.advantages__content {
  background-color: $basicBlue;
  padding: 30px 20px;
  text-align: center;
}

.advantages__list {
  padding: 35px 20px 35px 65px;
  list-style: none;
  margin: 0;


  &--points {
    background-color: $bgGrey;
    padding: 20px 30px;
    text-align: center;
    align-self: stretch;
  }
}

.advantages__title {
  font-size: inherit;
  font-weight: bold;
  line-height: 26px;

  &--light {
    color: $basicWhite;
  }
}

.advantages__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: $darkText;
  margin-top: 20px;
  margin-bottom: 40px;

  &--light {
    color: $basicWhite;
  }
}

.advantages__picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
