.advantages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.advantages__section {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 1032px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.advantages__content {
  background-color: $basicBlue;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex: 1 1 33.333%;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
  }
}

.advantages__content-decorative {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
    position: absolute;
    right: 0;
    top: 17px;
    left: 50%;
    height: 37px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

.advantages__content--first {
  position: relative;
  padding: 68px 15px 29px;
  height: 226px;

  @media (min-width: $tablet-width) {
    padding: 41px 20px 20px;
    min-width: 255px;
    height: 256px;
  }

  & > :nth-child(3) {
    @media (min-width: $tablet-width) {
      margin-top: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 48px 58px 33px;
  }
}

.advantages__content--second {
  padding: 40px 20px 21px;

  @media (min-width: $tablet-width) {
    padding: 44px 35px 20px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 88px 20px;
  }

  & > :nth-child(3) {
    @media (min-width: $tablet-width) {
      margin-top: 22px;
    }
  }
}

.advantages__image-wrapper {
  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    height: 256px;
  }
}

.advantages__image {
  object-fit: cover;
  width: 100%;
  height: 260px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: auto;
    height: 256px;
  }
}

.advantages__title {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  line-height: 26px;

  &--light {
    color: $basicWhite;

    @media (max-width: $mobile-width-only) {
      & br {
        display: none;
      }
    }
  }

  &--points {
    & br {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }
}

.advantages__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: $darkText;
  letter-spacing: -0.1px;

  &--light {
    color: $basicWhite;
  }

  &--goodies {
    margin-top: 17px;

    br {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }

    &:nth-of-type(2) {
      @media (min-width: $tablet-width) {
        margin-top: 22px;
      }
    }
  }

  &--points {
    &:nth-of-type(2) {
      @media (min-width: $tablet-width) {
        margin-top: 13px;
      }
    }

    &:nth-of-type(3) {
      @media (min-width: $tablet-width) {
        margin-top: 23px;
      }
    }
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 36px 21px 24px 20px;
  height: 416px;

  &--points {
    width: 100%;
    max-width: 520px;
    background-color: $bgGrey;
    text-align: center;
    padding: 25px 20px 0;
    height: 504px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0;
    max-width: 1032px;
    margin: 0 auto;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.advantages__list > .advantages__item {
  &--souvenir {
    @media (min-width: $tablet-width) {
      padding: 159px 32px 20px;
    }

    & br {
      display: none;

      @media (min-width: $desktop-width) {
        display: block;
      }
    }
  }

  &--points {
    &:nth-child(2) {
      @media (min-width: $tablet-width) {
        padding: 42px 56px 20px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: (100% / 3);
  }
}

.advantages__item {
  position: relative;
  padding: 0 0 0 50px;

  @media (min-width: $tablet-width) {
    padding: 159px 33px 20px;
    min-height: 330px;
  }

  @media (min-width: $desktop-width) {
    padding: 159px 59px 20px;
  }

  &--house svg {
    position: absolute;
    width: 39px;
    height: 37px;
    top: 9px;
    left: 21px;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 75px;
      height: 71px;
      top: 30%;
      left: 50%;
    }
  }

  &--souvenir svg {
    position: absolute;
    width: 39px;
    height: 37px;
    top: 8px;
    left: 20px;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 75px;
      height: 71px;
      top: 30%;
      left: 50%;
    }
  }

  &--souvenir {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &--food svg {
    position: absolute;
    width: 39px;
    height: 37px;
    top: 14px;
    left: 18px;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 75px;
      height: 71px;
      top: 30%;
      left: 50%;
    }
  }

  &--food {
    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &--points {
    position: relative;
    padding: 0 15px 13px;

    @media (min-width: $tablet-width) {
      padding: 42px 40px 20px;
      min-height: 255px;
    }
  }
}

.advantages__item + .advantages__item {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.advantages__item--points + .advantages__item--points {
  &::before {
    @media (max-width: $mobile-width-only) {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      top: -26px;
      background-color: $radioGrey;
    }
  }
}
