.biota {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.biota__caption {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.biota__author {
  display: block;
  font-weight: normal;
  text-transform: none;
}

.biota__image-wrapper {
  margin: 0;
}

.biota__image-mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.biota__image-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
