.biota {
  margin: 0;
  padding: 0;
}

.biota__figcaption-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    height: 80px;
    background-color: $lightGrey;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-top: -80px;
    background: rgba(0, 0, 0, 0.3);
    color: $basicWhite;
  }
}

.biota__figcaption {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    display: flex;
    height: 80px;
    background-color: $lightGrey;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-top: -80px;
    background: rgba(0, 0, 0, 0.3);
    color: $basicWhite;
  }
}

.biota__description-wrapper {
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 15px 20px;
  }
}

.biota__author {
  display: block;
  font-weight: normal;
  text-transform: none;
  margin-bottom: 11px;
}

.biota__image-wrapper {
  margin: 0;
}

.biota__likes {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  padding: 0 0 0 38px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    width: 40px;
    padding: 30px 53px 0 50px;
  }
}

.biota__likes-image {
  position: absolute;
  bottom: -7px;
  left: 12px;
  width: 23px;
  height: 22px;
  transform: translate(-50%, -50%);
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    left: auto;
    right: 51px;
    bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    fill: $basicWhite;
    opacity: 1;
  }
}
