.button {
  font-family: inherit;
  font-weight: bold;
  color: $basicWhite;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  height: 58px;
  background-color: $basicBlue;
  border: none;

  &:hover {
    background-color: $midBlue;
  }

  &:focus,
  &:active {
    background-color: $darkBlue;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: $midGrey;
  }
}
