.button {
  display: block;
  background-color: $basicBlue;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $basicWhite;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  min-width: 280px;
  height: 58px;
  padding: 16px 32px;
}
