.copyright {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 130px;
  height: 34px;
  font-size: 14px;
  line-height: 35px;
  color: $darkText;
}

.copyright__icon:hover {
  fill: $basicBlue;
}

.copyright__icon:focus,
.copyright__icon:active {
  opacity: 0.3;
}
