.header {
  position: relative;
  min-height: 56px;
}

.header__logo-link {
  width: 102px;
  height: 84px;
  position: absolute;
  margin: auto;
  margin-top: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  @media (min-width: $desktop-width) {
    width: 187px;
    height: 100px;
  }

  &--menu-opened {
    @media (max-width: $mobile-width-only) {
      top: 168px;
    }
  }
}

.header__logo-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__logo-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
