.main__preface {
  min-width: 320px;
  min-height: 205px;
  padding: 35px 20px 30px 20px;
}

.main__popup {
  &-success {
    display: none;
    z-index: 99;
  }

  &-error {
    display: none;
    z-index: 99;
  }
}

.main__gallery {
  min-width: 320px;
  padding: 0 20px;
}

.main__presentation {
  min-width: 320px;
  padding-bottom: 40px;
}
