.main__preface {
  min-width: 320px;
  max-width: 520px;
  min-height: 205px;
  padding: 16px 25px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 1032px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }

  &--form {
    padding: 21px 22px;
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      width: 440px;
      margin: 0 auto;
      padding: 21px 0 61px;
    }

    @media (min-width: $desktop-width) {
      padding: 75px 0 20px;
      margin-bottom: 12px;
    }
  }

  &--gallery {
    padding: 16px 15px;
    line-height: 25px;
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
      width: 440px;
      padding: 57px 0 0 7px;
      margin-bottom: 8px;
    }

    @media (min-width: $desktop-width) {
      padding: 62px 0 20px 0;
      min-height: 288px;
    }
  }

  &--gallery,
  &--video {
    @media (min-width: $tablet-width) {
      max-width: 648px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &--video {
    min-height: 190px;
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      min-height: 190px;
      width: 480px;
      padding: 11px;
      margin-bottom: 35px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 56px;
    }
  }
}

.main__location {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main__location-mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main__location-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main__location-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.main__popup {
  &--error,
  &--success {
    display: none;
    position: absolute;
    background-color: $basicWhite;
    z-index: 101;
    width: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.25);
  }

  &--error {
    height: 280px;
    bottom: 299px;
    padding: 24px 55px 35px;
    z-index: 102;

    @media (min-width: $tablet-width) {
      width: 400px;
      height: 347px;
      bottom: -11px;
      padding: 35px 47px;
    }

    @media (min-width: $desktop-width) {
      bottom: -129px;
      padding: 49px 37px 35px;
    }
  }

  &--success {
    height: 323px;
    bottom: -95px;

    @media (min-width: $tablet-width) {
      width: 640px;
      height: 347px;
      bottom: 150px;
    }

    @media (min-width: $desktop-width) {
      bottom: 142px;
    }
  }
}

.main__popup--error.active,
.main__popup--success.active {
  display: block;
}

.main__gallery {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 63px 56px 0 64px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0;
  }
}

.main__presentation {
  min-width: 320px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.main__presentation-video {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0;
  }
}

.main__presentation-img-mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main__presentation-img-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    height: 500px;
  }
}

.main__presentation-toggle-container {
  position: relative;
  width: 280px;
  margin: 0 auto;
  margin-top: -45px;

  @media (min-width: $tablet-width) {
    width: 648px;
    margin-top: -93px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 20px;
    background-image: url("../img/icons/icon-video-subtitles.svg");
    top: 68px;
    right: 74px;

    @media (min-width: $tablet-width) {
      top: 36px;
      right: 92px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/icon-video-fullscreen.svg");
    top: 68px;
    right: 23px;

    @media (min-width: $tablet-width) {
      top: 36px;
      right: 42px;
    }
  }
}

.main__presentation-toggle-main {
  background: rgba(0, 0, 0, 0.6);
  height: 45px;

  @media (min-width: $tablet-width) {
    height: 93px;
  }
}

.main__presentation-toggle-range {
  position: relative;
  display: block;
  width: 84%;
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  top: 49%;

  @media (min-width: $tablet-width) {
    width: 391px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 539px;
    margin-left: 92px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 20px;
    background-image: url("../img/icons/icon-video-replay.svg");
    top: 45px;
    left: 2px;

    @media (min-width: $tablet-width) {
      top: -10px;
      left: -56px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 9px;
    height: 9px;
    top: -3px;
    left: 15%;
    border-radius: 50%;
    background-color: $basicWhite;

    @media (min-width: $tablet-width) {
      left: 30%;
    }

    @media (min-width: $desktop-width) {
      left: 21%;
    }
  }
}

.main__presentation-toggle-subordinate {
  background-color: $lightGrey;
  height: 66px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
