.main__preface {
  min-width: 320px;
  max-width: 520px;
  min-height: 205px;
  padding: 16px 25px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 1032px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }

  &--form {
    padding: 21px 22px;
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      width: 440px;
      margin: 0 auto;
      padding: 21px 0 61px;
    }

    @media (min-width: $desktop-width) {
      padding: 75px 0 20px;
      margin-bottom: 12px;
    }
  }

  &--gallery {
    padding: 16px 15px;
    line-height: 25px;
    margin-bottom: 8px;
  }

  &--gallery,
  &--video {
    @media (min-width: $tablet-width) {
      max-width: 648px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &--video {
    min-height: 190px;
    margin-bottom: 0;
  }
}

.main__location {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main__location-mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main__location-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main__location-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.main__popup {
  &-success {
    display: none;
    z-index: 99;
  }

  &-error {
    display: none;
    z-index: 99;
  }
}

.main__gallery {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0;
  }
}

.main__presentation {
  min-width: 320px;
  margin-bottom: 39px;
}

.main__presentation-video {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0;
  }
}

.main__presentation-img-mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main__presentation-img-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main__presentation-toggle-container {
  position: relative;
  width: 280px;
  margin: 0 auto;
  margin-top: -45px;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 20px;
    background-image: url("../../img/video-subtitles.svg");
    top: 68px;
    right: 74px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../../img/video-fullscreen.svg");
    top: 68px;
    right: 23px;
  }
}

.main__presentation-toggle-main {
  background: rgba(0, 0, 0, 0.6);
  height: 45px;
}

.main__presentation-toggle-range {
  position: relative;
  display: block;
  width: 84%;
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  top: 49%;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 20px;
    background-image: url("../../img/video-replay.svg");
    top: 45px;
    left: 2px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 9px;
    height: 9px;
    top: -3px;
    left: 15%;
    border-radius: 50%;
    background-color: $basicWhite;
  }
}

.main__presentation-toggle-subordinate {
  background-color: $lightGrey;
  height: 66px;
}
