.navigation {
  display: block;
  font-size: inherit;
  font-weight: bold;
  line-height: 40px;
  background-color: $basicBlue;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 56px;
    background-color: $basicWhite;
  }
}

.navigation__toggle {
  display: block;
  width: 23px;
  height: 22px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.navigation__link {
  color: $basicWhite;

  @media (min-width: $tablet-width) {
    color: $basicBlack;
  }
}
