.page {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basicBlack;
}

.page__body {
  width: 1280px;
  background: $bodyGrey;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

.page picture {
  display: flex;
}
