.preface {
  text-align: center;

  &--video {
    margin-bottom: 40px;
  }
}

.preface__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 27px 0 33px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 39px;
  }

  &--form {
    @media (min-width: $tablet-width) {
      font-size: 30px;
      margin: 42px 0 33px;
    }

    @media (min-width: $desktop-width) {
      margin: 39px 0 33px;
    }
  }


  &--gallery,
  &--video {
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      margin-bottom: 33px;
    }
  }

  &--video {
    @media (min-width: $desktop-width) {
      margin-top: 50px;
    }
  }
}


.preface__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: $darkText;
  margin: 0;

  &--form,
  &--gallery,
  &--video {
    line-height: 24px;
  }
}

.preface__message-wrapper {
  padding: 30px 20px 0;
}

.preface__button-wrapper {
  display: block;
  width: 320px;
  height: 98px;
  bottom: 0;
  background-color: $lightGrey;
}

.preface__button-success {
  width: 260px;
  margin: 20px;
}

.preface__button {
  margin-top: 12px;
}
