.preface {
  text-align: center;

  &--video {
    margin-bottom: 40px;
  }
}

.preface__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 0 0 40px 0;
}

.preface__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: $darkText;
  margin: 0;
}

.preface__button {
  margin-top: 27px;
}
