.preface {
  text-align: center;

  &--video {
    margin-bottom: 40px;
  }
}

.preface__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 28px;
    letter-spacing: 1.7px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 39px;
  }
}

.preface__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: $darkText;
  margin: 0;
}

.preface__button {
  margin-top: 27px;
}
