.social-networks {
  width: 151px;
  min-height: 48px;
  margin: 35px 0 41px 0;
}

.social-networks__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-networks__item {
  position: relative;
  width: 46px;
  height: 48px;
  background-color: $basicBlue;
}

.social-networks__item .social-networks__link {
  padding: 11px 13px;
}

.social-networks__link--twitter svg {
  width: 18px;
  height: 15px;
}

.social-networks__link--twitter:focus svg,
.social-networks__link--twitter:active svg {
  opacity: 0.3;
}

.social-networks__link--facebook svg {
  width: 19px;
  height: 19px;
}

.social-networks__link--facebook:focus svg,
.social-networks__link--facebook:active svg {
  opacity: 0.3;
}

.social-networks__link--youtube svg {
  width: 20px;
  height: 14px;
}

.social-networks__link--youtube:focus svg,
.social-networks__link--youtube:active svg {
  opacity: 0.3;
}

.social-networks__link {
  &--twitter,
  &--facebook,
  &--youtube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: $midBlue;
  }

  &:focus,
  &:active {
    background-color: $darkBlue;
  }
}
