//Colors

$basicWhite: #ffffff;
$basicBlack: #000000;
$basicBlue: #81b3d2;
$midBlue: #669ec0;
$darkBlue: #5496bd;
$darkText: #333333;
$bgGrey: #eeeeee;
$lightGrey: #f2f2f2;
$midGrey: #e5e5e5;
$radioGrey: #d5d5d5;
$darkGrey: #e6e6e6;
$brown: #766357;
$darkBrown: #604e43;
$mountainBrown: #876967;
$oneMoreGrey: #5c6870;

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
